.workflow-table {
    width: 100%;
}

.workflow-table tr {
    border-bottom: 1px #ddd;
}

.workflow-table th,
.workflow-table td {
    padding-bottom: 8px;
    text-align: left;
    font-size: 15px;
}

.slider-container {
    text-align: center;
}

.flex-slider {
    display: flex;
}

.slider-class {
    width: 70%;
    margin-left: 5px;
    margin-right: 10px;
}

.custom-icon {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 3px;
}

.workflow-label {
    margin-top: 10px;
}

.disabled-td {
    color: #888;
    opacity: 0.6;
    cursor: not-allowed; /* Cursor indicating non-interactivity */
    pointer-events: none; /* Disable pointer events */
}

.disabled-toggle {
    cursor: not-allowed; /* Cursor indicating non-interactivity */
    pointer-events: none; /* Disable pointer events */
}

.collapsed-section {
    display: none;
}

.custom-popover-positioning {
    position: absolute;
    right: 90px;
}

.slds-card__header-title {
    font-size: 1rem;
    font-weight: 700;
}

.custom-truncate {
    max-width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
}

.row-header-desktop{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.row-header-mobile{
    display: flex;
    justify-content: flex-start;
    gap: 5px
}

.clickable-icon {
    cursor: pointer;
}

.clickable-icon:hover {
    opacity: 0.8;
}