.slds-box {
    padding: 0.5rem !important;
}
.container-vf-height {
    max-height: 60vh;
}
.description-picklist {
    margin-top: -5px;
}
.sticky-footer {
    bottom: 0;
    position: sticky;
    z-index: 1;
}
.sticky-header {
    top: 0;
    position: sticky;
    z-index: 1;
}
.inline-combobox {
    width: 6em;
    display: inline-block !important;
}


.inline-block {
    display: inline-block;
}

.slds-slider {
    max-width: 15rem!important;
}

.dynamic-width {
    max-width: 100%;

}

.dynamic-truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dd {
    padding-left: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
    .dynamic-width {
        max-width: 78vw;
    }

}

/* Desktop */
@media (min-width: 769px) {
    .dynamic-width {
        max-width: 30rem;
    }
}