.slds-scrollable {
    height:30rem;
}

.slds-scrollable_y {
    width:100%;
}

.total-price {
    position: absolute;
    right: 0;
}

li.slds-item::after {
    display: none!important;
}

.materials {
    margin-left: 1.7rem;
    padding-top: 0.6rem;
    margin-top: 0.5rem;
}